.our-story-container {
    display: flex;
    flex-direction: column;
    /* width: 80%; */
    padding-top: 30px;
    justify-content: center;
    align-items: center;
}

.our-story-image {
    width: 60%;
    /* border-radius: 30px; */
}

.our-story-information {
    padding: 2rem 1rem 3rem 1rem;
    width: 60%;
    font-size: 1.25rem;
}

