@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}

.home, .events, .our-exec, .sponsors, .who-we-are {
    display: flex;
    /* height: 90vh; */
    margin-top: 30px;
    /* align-items: center; */
    justify-content: center;
    font-size: 4rem;
    letter-spacing: 3px;
}

.who-we-are {
    margin-top: 30px;
}
